build/*
dist/*
tmp/*
node_modules/*
src/**~
*~
.idea
scripts/core/connection_infos.json
doc/
coverage.html
t6s-core/*
core-repos-config.json
scripts/core/backend_config.json
package-bak.json
package-tmp.json
heroku
herokuDBInit
compileWebstorm/